* {
    background-color: #111111;
    alternate-background-color: #080808;
    color: #BBBBBB;
    border-width: 1px;
    selection-background-color: #112288;
    selection-color: #080808;

}


QHeaderView::section:horizontal
{
    background-color: #111111;
    color: #BBBBBB;
    border-width: 1px;
}

QHeaderView::section:vertical
{
    background-color: #112288;
    color: #BBBBBB;
    border-width: 1px;
}

QTableCornerButton::section {
    background: #112288;
    border-width: 2px;
    border-style: outset;
}

QSplitter::handle, QToolBar::handle
{
    background-color: #0044BB;
}

QSplitter::handle:pressed, QToolBar::handle:pressed
{
    background-color: #4477cc;
}

QMenuBar::item
{
    background-color: #111111;
}

QTextEdit
{
    background-color: #151515;
}



















